.alert-container{
    width: 100%;
    height: 100dvh;
    background-color: #1a1a1a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 900;
    transition: all 0.5s ease;
}

.alert-container.show{
    pointer-events: all;
    opacity: 1;
}

.alert-container .alert{
    width: 350px;
    padding: 15px 10px;
    background-color: #39424e;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.alert .alert-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

.alert .alert-header p{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.alert-header .alert-close{
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.alert-header .alert-close:hover{
    color: var(--color-close);
}

.alert .alert-body{
    padding: 20px 0;
}

.alert-body p{
    font-size: 20px;
    color: #fff;
}

.alert-body svg.success{
    color: #3ece3e;
}

.alert-body svg.warning{
    color: #fefe1c;
}

.alert-body svg.error{
    color: #ff5454;
}

.alert.show{
    opacity: 1;
    pointer-events: all;
}

.alert .alert-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.alert-footer a{
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
}

.alert-footer a:nth-child(1){
    background-color: #fff;
    color: #000;
}

.alert-footer a:nth-child(1):hover{
    background-color: #ff9f00;
    color: #fff;
}

.alert-footer a:nth-child(2){
    background-color: #23252b;
    color: #fff;
}

.alert-footer a:nth-child(2):hover{
    background-color: #2e3138;
}

.alert-container .notification{
    width: auto;
    padding: 5px 7px;
    border-radius: 7px;
    position: absolute;
    top: 40px;
    right: 40px;
    transition: all 0.7s ease;
    opacity: 0;
    pointer-events: none;
}

.alert-container .notification.show{
    opacity: 1;
    pointer-events: all;
}

.notification.success{
    background-color: #4dd64d;
}

.notification.warning{
    background-color: #d9c93a;
}

.notification.error{
    background-color: #ff5454;
}

.notification .notification-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification-body p{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.notification-body svg{
    color: #fff;
}


@media (max-width: 1000px){
    .alert-container .notification{
        width: 40%;
    }
}


@media (max-width: 850px){
    .alert-container .notification{
        width: auto;
        padding: 5px 20px;
    }
}