:root{
    --color-texto-1: #fff;
    --color-texto-2: #a0a0a0;
    
    --color-fondo-1: #121111;
    --color-fondo-2: #23252b;
    --color-fondo-3: #23252bb3;

    --color-borde-1: #121111;

    --color-primary-light: #ff7f00;
    --color-secondary-light: #ff9f00;
    --color-primary-dark: #39424e;
}

.dashboard-container{
    width: 80%;
    background-color: var(--color-fondo-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-container .dashboard-title{
    width: 100%;
    height: 63px;
    margin-bottom: 10px;
    background-color: var(--color-fondo-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-container .dashboard-body{
    margin-top: 10px;
    width: 70%;
    padding: 10px;
    background-color: var(--color-fondo-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-body .body-title{
    width: 100%;
    text-align: center;
    color: var(--color-texto-1);
}

.body-title p{
    margin-top: 10px;
}

.dashboard-body .body-content{
    width: 70%;
    margin-top: 20px;
    padding: 0 10px;
}

form hr.divider{
    width: 93%;
    height: 1px;
    border-color: var(--color-primary-dark);
    margin-top: 20px;
    margin-bottom: 20px;
}

form .info-divider h4{
    color: var(--color-texto-1);
    font-weight: bold;
}

form input[type="text"]{
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-borde-1);
    font-weight: bold;
    color: var(--color-texto-1);
    background-color: #23252b;
    transition: all 0.5s ease;
    font-size: 15px;
}

form input[type="text"]::placeholder{
    color: var(--color-texto-2);
    font-weight: normal;
}

form input[type="text"]:focus{
    border: 1px solid var(--color-primary-light);
}

form input[type="text"]:focus ~ svg{
    color: var(--color-primary-light);
}

form input[type="password"]{
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-borde-1);
    font-weight: bold;
    color: var(--color-texto-1);
    background-color: #23252b;
    transition: all 0.5s ease;
    font-size: 15px;
}

form input[type="password"]::placeholder{
    color: #a0a0a0;
    font-weight: normal;
}

form input[type="password"]:focus{
    border: 1px solid var(--color-primary-light);
}

form input[type="password"]:focus ~ svg{
    color: var(--color-primary-light);
}

form input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-primary-light);
    transition: all 0.5s ease;
    font-size: 15px;
}

form input[type="submit"]:hover{
    background-color: var(--color-secondary-light);
}

form input[type="submit"]:focus{
    background-color: var(--color-secondary-light);
}

form .form-control{
    width: 93%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control label{
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.form-control svg{
    color: var(--color-primary-dark);
    position: absolute;
    top: 48%;
    right: 10px;
}

.end-form{
    margin-bottom: 20px;
}


@media (max-width: 1000px){
    .dashboard-container{
        width: 70%;
    }
}

@media (max-width: 700px){
    .dashboard-container{
        width: 60%;
    }
}